---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075366/stories?fields=comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '27'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 70871140,
            "comments": [
              {
                "kind": "comment",
                "id": 68645328,
                "text": "This is a test comment on the first story",
                "person_id": 534749,
                "created_at": "2014-05-06T00:00:00Z",
                "updated_at": "2014-05-07T17:01:12Z",
                "story_id": 70871140
              },
              {
                "kind": "comment",
                "id": 68645330,
                "text": "This is a second test comment on the first story",
                "person_id": 534749,
                "created_at": "2014-05-06T00:00:00Z",
                "updated_at": "2014-05-07T17:01:12Z",
                "story_id": 70871140
              },
              {
                "kind": "comment",
                "id": 68669490,
                "text": "Commit by <GITHUB_USERNAME>\nhttps://github.com/<GITHUB_USERNAME>/TrackerHub/commit/31168775b60990b963a6bf2859670e60185f8176\n\n[#70871140] All projects are displayed when a user clicks view projects",
                "person_id": 1256926,
                "commit_identifier": "31168775b60990b963a6bf2859670e60185f8176",
                "commit_type": "github",
                "created_at": "2014-05-07T20:02:27Z",
                "updated_at": "2014-05-07T20:02:27Z",
                "story_id": 70871140
              }
            ]
          },
          {
            "id": 70871142,
            "comments": [
              {
                "kind": "comment",
                "id": 68671444,
                "text": "Commit by <GITHUB_USERNAME>\nhttps://github.com/<GITHUB_USERNAME>/TrackerHub/commit/3ac224769cab65d597a545e5e184cfdbb41de693\n\[...]
