---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075366/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '25'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70871140,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T22:17:26Z",
            "accepted_at": "2014-05-07T22:18:40Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "accepted",
            "requested_by_id": 1256926,
            "project_id": 1075366,
            "url": "https://www.pivotaltracker.com/story/show/70871140",
            "owner_ids": [
              1256926
            ],
            "labels": [

            ],
            "owned_by_id": 1256926
          },
          {
            "kind": "story",
            "id": 70871142,
            "created_at": "2014-05-06T07:00:00Z",
            "updated_at": "2014-05-07T22:17:35Z",
            "accepted_at": "2014-05-07T22:18:49Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that pro[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1075366/stories?fields=comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '25'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 70871140,
            "comments": [
              {
                "kind": "comment",
                "id": 68645328,
                "text": "This is a test comment on the first story",
                "person_id": 534749,
                "created_at": "2014-05-06T00:00:00Z",
                "updated_at": "2014-05-07T17:01:12Z",
                "story_id": 70871140
              },
              {
                "kind": "comment",
                "id": 68645330,
                "text": "This is a second test comment on the first story",
                "person_id": 534749,
                "created_at": "2014-05-06T00:00:00Z",
                "updated_at": "2014-05-07T17:01:12Z",
                "story_id": 70871140
              },
              {
                "kind": "comment",
                "id": 68669490,
                "text": "Commit by <GITHUB_USERNAME>\nhttps://github.com/<GITHUB_USERNAME>/TrackerHub/commit/31168775b60990b963a6bf2859670e60185f8176\n\n[#70871140] All projects are displayed when a user clicks view projects",
                "person_id": 1256926,
                "commit_identifier": "31168775b60990b963a6bf2859670e60185f8176",
                "commit_type": "github",
                "created_at": "2014-05-07T20:02:27Z",
                "updated_at": "2014-05-07T20:02:27Z",
                "story_id": 70871140
              }
            ]
          },
          {
            "id": 70871142,
            "comments": [
              {
                "kind": "comment",
                "id": 68671444,
                "text": "Commit by <GITHUB_USERNAME>\nhttps://github.com/<GITHUB_USERNAME>/TrackerHub/commit/3ac224769cab65d597a545e5e184cfdbb41de693\n\[...]
[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:Mike%241234@api.github.com/repos/<GITHUB_USERNAME>/TrackerHub/commits/31168775b60990b963a6bf2859670e60185f8176/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1399579249'
      Etag:
      - '"5be1f2b8b756a6da1c4c0c483611a98c"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/<GITHUB_USERNAME>/TrackerHub/comments/6248056","html_url":"https://github.com/<GITHUB_USERNAME>/TrackerHub/commit/31168775b60990b963a6bf2859670e60185f8176#commitcomment-6248056","id":6248056,"user":{"login":"msgehard","id":128210,"avatar_url":"https://avatars.githubusercontent.com/u/128210?","gravatar_id":"b09d62315dbafc471538dd71d404ad48","url":"https://api.github.com/users/msgehard","html_url":"https://github.com/msgehard","followers_url":"https://api.github.com/users/msgehard/followers","following_url":"https://api.github.com/users/msgehard/following{/other_user}","gists_url":"https://api.github.com/users/msgehard/gists{/gist_id}","starred_url":"https://api.github.com/users/msgehard/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/msgehard/subscriptions","organizations_url":"https://api.github.com/users/msgehard/orgs","repos_url":"https://api.github.com/users/msgehard/repos","events_url":"https://api.github.com/users/msgehard/events{/privacy}","received_events_url":"https://api.github.com/users/msgehard/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"31168775b60990b963a6bf2859670e60185f8176","created_at":"2014-05-07T22:23:06Z","updated_at":"2014-05-07T22:23:06Z","body":"Please
        unit test all API code using VCR."}]'
  recorded_at: Thu, 08 May 2014 19:05:53 GMT
[...]
